@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site store no details whatsoever. All your data is yours only.</p>
<p>
    Full source code is available on <a href="https://github.com/JimBobSquarePants/GithubReleaseNotesGenerator">GitHub</a>.
</p>
